.propertyContainer {
    display: inline-block;
    width: 33.33%;
    padding: 0.5rem;
    box-sizing: border-box;

}
.propertyCard {
    border: 2px solid grey;
    justify-content: space-around;
    margin: 10px;
    width: 160px;
    padding: 0.5rem;
}